.BtnContainer {
  display: flex;
  width: 50%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
.BtnContainer > li {
  list-style: none;
}
.filterBtn {
  border: none;
  border-radius: 5px;
  background-color: bisque;
  cursor: pointer;
}

.filterBtn:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
